<h1>Dates with different locales:</h1>

<div class="locales">
  <label for="locale-select">Choose locale</label>
  <select #select id="locale-select" (change)="translateService.use(locales[select.selectedIndex])">
    <option *ngFor="let locale of locales">{{ localesMap[locale] }}</option>
  </select>
</div>

<ul class="date__list">
  <li *ngFor="let locale of locales" class="date__item" [attr.data-icon]="localesMap[locale]">
    {{ currentDate | asyncDate: 'full':null:locale | async }}
  </li>
</ul>

<h2>current locale is {{ localesMap[currentLocale$ | async] }}</h2>
<p>{{ currentDate | asyncDate: 'full' | async }}</p>
